<footer class="footer">
  <div class="address">
    <h3 class="address-title">Наш адрес</h3>
    <p class="address-text">Республика Беларусь 210017 г. Витебск, ул. Гагарина, 11</p>
    <a class="address-link link" target="_blank" href="https://goo.gl/maps/ieYR4zf9hFUNKRjB9">&rArr; Google Map</a>
  </div>
  <div class="quality-services">
    <a class="quality-services__item link" target="_blank" href="https://xn----7sbgfh2alwzdhpc0c.xn--90ais/organization/42674/questionnaire">
      <img class="quality-services__item-img" src="Анкета-качества-услуг.gif" alt="Анкета качества услуг">
      <span  class="quality-services__item-text">анкета качества услуг</span>
    </a>
    <a class="quality-services__item link" target="_blank" href="https://xn----7sbgfh2alwzdhpc0c.xn--90ais/organization/42674/org-page">
      <img class="quality-services__item-img" src="Оценка-качества-услуг.gif" alt="Оценка качества услуг">
      <span  class="quality-services__item-text">оценка качества услуг</span>
    </a>
  </div>
  <div class="contacts">
    <h3 class="contacts-title">Наши контакты</h3>
    <p class="contacts-item">
      <span class="contacts-item__text">приёмная: </span>
      <a class="contacts-item__link link" href="tel:+375212602937">+375 (212) 60-29-37</a>
    </p>
    <p class="contacts-item">
      <span class="contacts-item__text">служба сбыта: </span>
      <a class="contacts-item__link link" href="tel:+375212602922">+375 (212) 60-29-22</a>
    </p>
    <p class="contacts-item">
      <span class="contacts-item__text">служба снабжения: </span>
      <a class="contacts-item__link link" href="tel:+375212602943">+375 (212) 60-29-43</a>
    </p>
    <p class="contacts-item">
      <span class="contacts-item__text">отдел кадров: </span>
      <a class="contacts-item__link link" href="tel:+375212602926">+375 (212) 60-29-26</a>
    </p>
  </div>
</footer>
<p class="copy">&copy;&nbsp;2020&nbsp;-&nbsp;2025&nbsp;"Знамя&nbsp;индустриализации"</p>
