<p class="default-text">
  В 1920 году в городе Витебске на улице Шоссейной и улице Димитрова были отпущены помещения под швейные мастерские, где
  принимались заказы от населения города.
</p>
<p class="default-text">
  В 1922 году швейную мастерскую переименовали в швейную фабрику «Профинтерн», которая находилась в ведении Витебского
  губернского объединения предприятий швейной промышленности («Витгубодежда»). Швейная фабрика считалась самым крупным
  предприятием на территории Витебской губернии. В ее ведении по состоянию на 1923-1924 годы насчитывалось 213 ножных
  машин, 148 моторных, 185 утюгов и 200 ножниц. Однако «Профинтерн» не смогла в полной мере обеспечить потребности
  города и республики.
</p>
<div class="default-img">
  <img src="/about/about_1.jpg">
</div>
<p class="default-text">
  1 июля 1928 года на заседании Президиума ВСНХ БССР был рассмотрен вопрос о строительстве в Витебске новой швейной
  фабрики, где в избытке были женские рабочие руки.
  Во второй половине 1928 года началось строительство новой фабрики. Местом для новостройки была выбрана окраина города
  на правой стороне Суражского тракта (сегодня – улица Гагарина). Это была ударная комсомольская стройка первой пятилетки
  индустриализации страны. По комсомольским путевкам на строительство фабрики приехала молодежь из городов: Москвы,
  Киева, Ленинграда, Иванова, Минска, Ростова и Смоленска. Планировалось, что в смену на фабрике могло трудиться до 1500
  человек.
  Рядом с фабрикой строился жилой дом по улице 2-я Садовая и еще один дом по улице 2-я Гуторовская. Таким образом, был
  решен жилищный вопрос для будущих работников.
</p>
<p class="default-text">
  Во время работы швейная фабрика закрепила себя как один из наиболее квалифицированных центров швейной промышленности
  БССР по производству мужских костюмов и демисезонных пальто с:
</p>
<ul class=".default-text">
  <li class="default-text">- мощностью до 5 000 человек;</li>
  <li class="default-text">- двухсменным режимом работы;</li>
  <li class="default-text">- продукцией в 106 млн. рублей в год.</li>
</ul>
<p class="default-text">
  Система вновь построенной фабрики включала в себя:
</p>
<ul class=".default-text">
  <li class="default-text">- фабричный корпус;</li>
  <li class="default-text">- ясли;</li>
  <li class="default-text">- столовую;</li>
  <li class="default-text">- дома для швейников на 42 квартиры.</li>
</ul>
<p class="default-text">
  7 ноября 1930 года состоялось торжественное открытие фабрики «Знамя индустриализации». Вместе со вводом фабрики начала
  свою работу многотиражная газета с одноименным названием «Знамя индустриализации». Она выходила 3 раза в неделю на
  русском, белорусском и еврейском языках. В газете отмечались все жизненные моменты фабрики.
</p>
<div  class="default-img">
  <img src="/about/gazeta.jpg">
</div>

<p class="default-text">
  В 1932 году планировалось построить гараж, механическую мастерскую, пожарное депо, жилой дом для администрации, школу
  для обучения пошиву ассортимента школьного возраста.
</p>
<p class="default-text">
  Для решения поставленных задач рабочими и ИТР фабрики приходилось трудиться и искать резервы производства, учиться
  самим и учить других.
  Большой вклад в выполнение производственных заданий внесли рационализаторы фабрики, ими было подано 250 предложений,
  годовая экономия составила 55 тыс. рублей.
</p>
<p class="default-text">
  Первый гигант индустриализации – швейная фабрика «Знамя индустриализации» шагнула в жизнь!
</p>

<div class="info">
  <p class="info-item">210017, Республика Беларусь, г. Витебск, ул. Гагарина. 11</p>
  <p class="info-item">
    <span class="info-item__text">приёмная:</span>
    <a class="info-item__link" href="tel:+375212602937">+375 (212) 60-29-37</a></p>
  <p class="info-item">
    <span class="info-item__text">факс:</span>
    <a class="info-item__link" href="tel:+375212602922">+375 (212) 60-29-22</a></p>
  <p class="info-item">
    <span class="info-item__text">e-mail:</span>
    <a class="info-item__link" href="mailto:znamya@znamya.biz">{{ "znamya@znamya.biz" }}</a>
  </p>
  <p class="info-item">Директор ОАО "Знамя индустриализации"</p>
  <p class="info-item">
    <span class="info-item__text">Молчан Екатерина Ивановна</span></p>
  <p class="info-item">
    <span class="info-item__text">тел:</span>
    <a class="info-item__link" href="tel:+375212602922">+375 (212) 60-29-40</a></p>

</div>
