.content{
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  margin: 20px auto 10px auto;

  &-title{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
  }

  &-url{
    margin-left: 10px;
  }
}
