<section class="content">
  <h1 class="content-title">Информация по профилактике киберпреступлений</h1>
  <a class="content-url" target="_blank" href="/dock-data/МиниКонспект%20КАК%20ЗАЩИТИТЬ%20СЕБЯ%20ОТ%20И-М%202024-11.docx">МиниКонспект КАК ЗАЩИТИТЬ СЕБЯ ОТ И-М 2024-11.docx</a>
  <a class="content-url" target="_blank" href="/dock-data/НЕДЕЛЯ%20ЦИФРОВОЙ%20ГРАМОТНОСТИ%202024%20ГУПК.pptx">НЕДЕЛЯ ЦИФРОВОЙ ГРАМОТНОСТИ 2024 ГУПК.pptx</a>
  <a class="content-url" target="_blank" href="/dock-data/Памятка%20по%20защите%20от%20мошенников%20май%202024.pdf">Памятка по защите от мошенников май 2024.pdf</a>

  <h1 class="content-title">Информация по выборам</h1>
  <a class="content-url" target="_blank" href="https://www.rec.gov.by/ru/election-schedule-ru/view/elections-2025-president">Центральная избирательная комиссия Республики Беларусь | Выборы Президента Республики Беларусь</a>

  <h1 class="content-title">Информация о борьбе с коррупцией</h1>
  <a class="content-url" target="_blank" href="/dock-data/План мероприятий для устранения недобросовестного посредничества в ОАО Знамя индустриализации на 2025 год.pdf">План мероприятий для устранения недобросовестного посредничества в ОАО Знамя индустриализации на 2025 год.pdf</a>
  <a class="content-url" target="_blank" href="/dock-data/План мероприятий по противодействию коррупции в ОАО «Знамя индустриализации» на 2025 год.pdf">План мероприятий по противодействию коррупции в ОАО «Знамя индустриализации» на 2025 год.pdf</a>
  <a class="content-url" target="_blank" href="https://pravo.by/document/?guid=3871&p0=H11500305">ЗАКОН РЕСПУБЛИКИ БЕЛАРУСЬ О борьбе с коррупцией</a>
</section>
