<div class="slogon">
  <h1>ЛЁН - ЭТО МОДНО!</h1>
</div>

<div class="container">
  <swiper-container speed="1000" slides-per-view="3" loop="true" autoplay="true">
    <swiper-slide><img src="/img/292.jpg"></swiper-slide>
    <swiper-slide><img src="/img/22.jpg"></swiper-slide>
    <swiper-slide><img src="/img/198.jpg"></swiper-slide>
    <swiper-slide><img src="/img/181.jpg"></swiper-slide>
    <swiper-slide><img src="/img/248.jpg"></swiper-slide>
    <swiper-slide><img src="/img/54.jpg"></swiper-slide>
    <swiper-slide><img src="/img/260.jpg"></swiper-slide>
    <swiper-slide><img src="/img/206.jpg"></swiper-slide>
    <swiper-slide><img src="/img/273.jpg"></swiper-slide>
    <swiper-slide><img src="/img/148.jpg"></swiper-slide>
    <swiper-slide><img src="/img/105.jpg"></swiper-slide>
    <swiper-slide><img src="/img/156.jpg"></swiper-slide>
    <swiper-slide><img src="/img/111.jpg"></swiper-slide>
    <swiper-slide><img src="/img/31.jpg"></swiper-slide>
    <swiper-slide><img src="/img/70.jpg"></swiper-slide>
    <swiper-slide><img src="/img/130.jpg"></swiper-slide>
    <swiper-slide><img src="/img/120.jpg"></swiper-slide>
    <swiper-slide><img src="/img/171.jpg"></swiper-slide>
    <swiper-slide><img src="/img/53.jpg"></swiper-slide>
    <swiper-slide><img src="/img/132.jpg"></swiper-slide>
    <swiper-slide><img src="/img/163.jpg"></swiper-slide>
    <swiper-slide><img src="/img/242.jpg"></swiper-slide>
    <swiper-slide><img src="/img/3.jpg"></swiper-slide>
    <swiper-slide><img src="/img/235.jpg"></swiper-slide>
    <swiper-slide><img src="/img/53.jpg"></swiper-slide>
    <swiper-slide><img src="/img/130.jpg"></swiper-slide>
  </swiper-container>
</div>

<app-cybersecurity></app-cybersecurity>

<app-baners></app-baners>
