<div class="slogon">
  <h1>ЛЁН - ЭТО МОДНО!</h1>
</div>
<div class="apimg">
  <img class="pimg" src="/img/ar.jpg">
  <p class="apimg-text">ОАО «Знамя индустриализации» может предоставить рабочие места для молодежи в свободное от учебы время на летний
    период 2025 года по профессии «швея» с квалификацией 2-ого или 3-его разряда, а также учащимся колледжей,
    обучающимся профессии «швея», старше 18 лет.</p>
</div>
<div class="container">
  <swiper-container speed="1000" slides-per-view="3" loop="true" autoplay="true">
    <swiper-slide><img src="/img/h/292.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/22.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/198.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/181.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/248.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/54.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/260.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/206.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/273.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/148.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/105.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/156.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/111.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/31.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/70.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/130.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/120.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/171.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/53.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/132.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/163.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/242.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/3.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/235.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/53.jpg"></swiper-slide>
    <swiper-slide><img src="/img/h/130.jpg"></swiper-slide>
  </swiper-container>
</div>
<div class="cpimg">
  <img class="pimg" src="/img/DP.jpg">
  <img class="pimg" src="/img/IK.jpg">
</div>


<app-cybersecurity></app-cybersecurity>

<app-baners></app-baners>
