.container {
  max-width: 1200px;
  margin: 0 auto;

  img{
    width: 100%;
  }
}

.slogon{
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-style: italic;
  padding: 20px 0;
}
