<!--<h1 class="h-center">раздел находится в разработке следите за обновлениями</h1>-->
<section class="container">
  <div class="job-block">
    <h2>ШВЕЯ</h2>
    <p><strong>обязанности:</strong> пооперационный пошив швейных изделий верхнего ассортимента.</p>
    <p><strong>требования:</strong> профессионально-техническое образование,
      опыт работы от 1 года, помогаем адаптироваться в коллективе.
    </p>
    <p><strong>заработная плата:</strong> от <strong>1700</strong> до <strong>2500</strong> рублей.</p>
    <p><strong>дополнительные условия:</strong></p>
    <p>- удобный график работы: пятидневка по 8 часов;</p>
    <p>- иногородним предоставляется общежитие;</p>
    <p>- соцпакет, медицинская страховка за счет средств предприятия,
      премии и подарки к праздникам, материальная помощь на оздоровление к отпуску,
      материальная помощь детям к школе и в оздоровительные летние лагеря и др.
    </p>
    <p><strong>телефон отдела кадров: </strong><a href="tel:+375212602926">+375 (212) 60-29-26</a></p>
    <a class="job-link" target="_blank" href="https://gsz.gov.by/registration/employer/vacancy/838229/detail-public/">Ссылка на вакансию в ГСЗ</a>
  </div>

<!--  <div class="job-block">-->
<!--    <h2>НАЧАЛЬНИК ШВЕЙНОГО ЦЕХА</h2>-->
<!--    <p><strong>обязанности:</strong> организация работы швейного цеха, обеспечение ритмичного выпуска продукции в-->
<!--      соответствии с установленными планами.</p>-->
<!--    <p><strong>требования:</strong> высшее образование, специальность - технология производства швейных изделий,-->
<!--      опыт работы от 3 лет.-->
<!--    </p>-->
<!--    <p><strong>заработная плата:</strong> от <strong>1800</strong> до <strong>3000</strong> рублей.</p>-->
<!--    <p><strong>дополнительные условия:</strong></p>-->
<!--    <p>- удобный график работы: пятидневка по 8 часов;</p>-->
<!--    <p>- иногородним предоставляется общежитие;</p>-->
<!--    <p>- соцпакет, медицинская страховка за счет средств предприятия,-->
<!--      премии и подарки к праздникам, материальная помощь на оздоровление к отпуску,-->
<!--      материальная помощь детям к школе и в оздоровительные летние лагеря и др.-->
<!--    </p>-->
<!--    <p><strong>телефон отдела кадров: </strong><a href="tel:+375212602926">+375 (212) 60-29-26</a></p>-->
<!--    <a class="job-link" target="_blank" href="https://gsz.gov.by/registration/employer/vacancy/1355010/detail-public/">Ссылка на вакансию в ГСЗ</a>-->
<!--  </div>-->

  <div class="job-block">
    <h2>ИНЖЕНЕР-ЭНЕРГЕТИК</h2>
    <p><strong>обязанности:</strong> расчет потребления ТЭР по предприятию и субарендаторам, взаимодействие с
      энергоснабжающими организациями по вопросам использования ТЭР, учет расходования ТЭР, выполнение программы по
      энергосбережению, составление отчета 12-тэк, контроль за соблюдением санитарных и природоохранных норм.</p>
    <p><strong>требования:</strong> высшее образование,
      опыт работы от 3 лет.
    </p>
    <p><strong>заработная плата:</strong> от <strong>1700</strong> до <strong>2000</strong> рублей.</p>
    <p><strong>дополнительные условия:</strong></p>
    <p>- удобный график работы: пятидневка по 8 часов;</p>
    <p>- иногородним предоставляется общежитие;</p>
    <p>- соцпакет, медицинская страховка за счет средств предприятия,
      премии и подарки к праздникам, материальная помощь на оздоровление к отпуску,
      материальная помощь детям к школе и в оздоровительные летние лагеря и др.
    </p>
    <p><strong>телефон отдела кадров: </strong><a href="tel:+375212602926">+375 (212) 60-29-26</a></p>
    <a class="job-link" target="_blank" href="https://gsz.gov.by/registration/employer/vacancy/1178376/detail-public/">Ссылка на вакансию в ГСЗ</a>
  </div>

  <div class="job-block">
    <h2>МАШИНИСТ ДВИГАТЕЛЕЙ ВНУТРЕННЕГО СГОРАНИЯ
      (ОПЕРАТОР КОТЕЛЬНОЙ)
    </h2>
    <p><strong>обязанности:</strong> обслуживание теплового газоиспользующего оборудования, поддержание заданных режимов
      работы, контроль за соблюдением параметров согласно графикам, работы по планово-предупредительному ремонту в межотопительный период.</p>
    <p><strong>требования:</strong> специальное образование,
      опыт работы от 1 года.
    </p>
    <p><strong>заработная плата:</strong> от <strong>1000</strong> до <strong>1300</strong> рублей.</p>
    <p><strong>дополнительные условия:</strong></p>
    <p>- удобный график работы: пятидневка по 8 часов;</p>
    <p>- иногородним предоставляется общежитие;</p>
    <p>- соцпакет, медицинская страховка за счет средств предприятия,
      премии и подарки к праздникам, материальная помощь на оздоровление к отпуску,
      материальная помощь детям к школе и в оздоровительные летние лагеря и др.
    </p>
    <p><strong>телефон отдела кадров: </strong><a href="tel:+375212602926">+375 (212) 60-29-26</a></p>
    <a class="job-link" target="_blank" href="https://gsz.gov.by/registration/employer/vacancy/1335416/detail-public/">Ссылка на вакансию в ГСЗ</a>
  </div>
</section>
