<!--<h1 class="h-center">раздел находится в разработке следите за обновлениями</h1>-->
<section class="hareholder">
  <h2 class="h-cen mt30">УВАЖАЕМЫЕ АКЦИОНЕРЫ ОАО «ЗНАМЯ ИНДУСТРИАЛИЗАЦИИ»</h2>
  <h3 class="h-cen mt30">
    28 марта 2025 года состоится  очередное (годовое) общее
    собрание акционеров ОАО «Знамя индустриализации»
    по адресу: г.Витебск, ул.Гагарина, д.11, зал заседаний
  </h3>
  <h3 class="h-cen mt30">
    ПОВЕСТКА ДНЯ СОБРАНИЯ:
  </h3>
  <ol class="mt30 default-text">
    <li>Об итогах финансово-хозяйственной деятельности Общества за 2024 год и основных направлениях деятельности Общества на 2025 год.</li>
    <li>Отчет наблюдательного совета о работе в 2024 году.</li>
    <li>Отчет ревизионной комиссии о результатах финансово-хозяйственной деятельности Общества за 2024 год.</li>
    <li>Рассмотрение аудиторского заключения за 2024 год.</li>
    <li>Утверждение годовых отчетов, годовой бухгалтерской (финансовой) отчетности за 2024 год. </li>
    <li>Распределение прибыли Общества за 2024 год. Об объявлении и выплате дивидендов за 2024 год.</li>
    <li>О направлениях использования   прибыли Общества в 2025 году и на период до проведения очередного (годового) собрания акционеров. О периодичности выплаты дивидендов.</li>
    <li>Избрание членов наблюдательного совета Общества.</li>
    <li>Избрание ревизионной комиссии  Общества.</li>
    <li>О размерах вознаграждения членам наблюдательного совета и ревизионной комиссии  Общества.</li>
  </ol>
  <p class="default-text mt30 text-indent">
    С материалами по вопросам повестки дня собрания можно ознакомиться по адресу: г.Витебск, ул.Гагарина, д.11 в рабочие
    дни (понедельник – пятница) с 10 марта по 27 марта 2025 г. по месту нахождения Общества (комната 27) с 9-00 до 16-00 часов;
    28 марта 2025 г. – по месту проведения собрания.
  </p>
  <p class="default-text mt30 text-indent">
    Список акционеров для участия в собрании будет составлен по состоянию на 01 марта 2025 года.
  </p>
  <p class="default-text mt30 text-indent">
    Время регистрации участников собрания:
  </p>
  <p class="default-text text-indent">
    в день проведения собрания с 10 часов до 10 часов 30 минут;
  </p>
  <p class="default-text mt30 text-indent">
    Для регистрации при себе иметь документы:
  </p>
  <p class="default-text text-indent">
    акционеру Общества – паспорт,
  </p>
  <p class="default-text text-indent">
    представителям акционеров – паспорт и доверенность.
  </p>
</section>
