<!--<h1 class="h-center">раздел находится в разработке следите за обновлениями</h1>-->
<section class="hareholder">
  <h1 class="hareholder-title">Годовой отчет 2024</h1>
  <a class="hareholder-url" target="_blank" href="/dock-data/shareholder/Бухгалтерский баланс 2024.pdf">Бухгалтерский баланс 2024.pdf</a>
  <a class="hareholder-url" target="_blank" href="/dock-data/shareholder/Годовой отчет эмитента ОАО ЗИ 2024.pdf">Годовой отчет эмитента ОАО ЗИ 2024.pdf</a>
  <a class="hareholder-url" target="_blank" href="/dock-data/shareholder/Примечания к бухгалтерской отчетности 2024.pdf">Примечания к бухгалтерской отчетности 2024.pdf</a>
</section>
