.box{
  width: 250px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255, 0.5);
  border: 1px solid gray;
  cursor: pointer;
  min-height: 100%;

  &-title{
    font-style: italic;
    text-align: center;
    height: 50px;
    padding: 0 10px;
  }

  &-img{
    width: 200px;
    margin: 25px 25px 0 25px;
  }
}

.info{
  margin: 25px 25px 25px 25px;
}

.name{
  font-size: 18px;
  font-weight: 600;

}
