<section class="baners">
  <a class="baner-url" target="_blank" href="https://forumpravo.by/"><img class="baner-img" src="/baners/forum.jpg"></a>
  <a class="baner-url" target="_blank" href="https://center.gov.by/"><img class="baner-img" src="/baners/nczpi.jpg"></a>
  <a class="baner-url" target="_blank" href="https://portal.gov.by/"><img class="baner-img" src="/baners/portal.png"></a>
  <a class="baner-url" target="_blank" href="https://xn----7sbgfh2alwzdhpc0c.xn--90ais/rating"><img class="baner-img" src="/baners/портал_рейтинговой_оценки.jpg"></a>
  <a class="baner-url" target="_blank" href="https://president.gov.by/ru"><img class="baner-img" src="/baners/ПРБ.png"></a>
<!--  <a class="baner-url" target="_blank" href="https://www.rec.gov.by/ru"><img class="baner-img" src="/baners/ЦИКРБ.png"></a>-->
  <a class="baner-url" target="_blank" href="https://xn--80abnmycp7evc.xn--90ais/"><img class="baner-img" src="/baners/Обращение-бел.png"></a>
</section>

